.App {
    font-family: Ariel, Helvetica, sans-serif;
}

.AppOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

table {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

th {
    text-align: left;
}

tr:hover {
    background-color: #f2f2f2;
}

.part-of-speech {
    font-weight: bold;
    font-style: italic;
}

.small-column {
    width: 1%;
}

.large-column {
    width: 100%;
}